@model Member

@{
    ViewData["Title"] = "註冊會員";
}

<div class="page-header row">
    <div class="col-md-3"></div>
    <h1 class="col-md-6">早安，你今天註冊了嗎？</h1>
    <div class="col-md-3"></div>
</div>

<form asp-action="NewMember">
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="Account" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input asp-for="Account" class="form-control" id="account" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input asp-for="Password" class="form-control" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input asp-for="Name" class="form-control" id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input asp-for="Phone" class="form-control" id="phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <input type="submit" value="送出" class="btn btn-success col-md-1" id="send" />
            <div class="col-md-1"></div>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger col-md-1">取消</a>
            <div class="col-md-5"></div>
        </div>
    </div>
</form>
