@{
    ViewData["Title"] = "歡迎光臨";
}

<div class="page-header text-center">
    <h1>早安，你今天買東西了嗎？</h1>
</div>
<div class="row text-center">
    <a href="/new-project" class="btn btn-success">註冊會員</a>
</div>
